{
    "rules": {
        "no-console"               : ["error", { "allow": ["warn", "error"] }],
        "no-mixed-spaces-and-tabs" : [2, "smart-tabs"],
        "block-spacing"            : [2, "always"],
        "comma-style"              : [2, "last"],
        "no-debugger"              : [1],
        "no-alert"                 : [1],
        "indent"                   : [1, 4, {"SwitchCase":1}],
        "strict"                   : 0,
        "no-undef"                 : 1
    },
    "parserOptions": {
        "ecmaVersion" : 2021,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true,
            "sourceTyp": "module"
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    }
}