.tagify--outside {
    border: 0;
}

.tagify--outside .tagify__input {
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: .1s;
}

.tagify--outside .tagify__input:hover {
    border-color: var(--tags-hover-border-color);
}

.tagify--outside.tagify--focus .tagify__input {
    transition: 0s;
    border-color: var(--tags-focus-border-color);
}